* {
    height: auto;
    margin: 0;
    padding: 0;
}

.header {
    background: linear-gradient(109.5deg, rgb(13, 11, 136) 9.4%, rgb(86, 255, 248) 78.4%);
    ;
    height: 120px;
    overflow: hidden;
    width: 100%;
}

.header div {
    margin: 0;

    width: 100%;
}


.header div div.navigation {

    font-family: 'CarterOneRegular';
    float: right;
    height: auto;
    line-height: 50px;
    margin-top: 30px;
    text-transform: uppercase;
    width: 100%;
}

.header div div.navigation div {

    padding-left: 4px;
    height: 70px;
    width: auto;
}

.header div div.navigation div ul {

    clear: both;
    float: right;
    height: 70px;
    list-style: none;
    margin: 0;
    padding: 0;

}

.header div div.div ul li:first-child {
    background: none;
}

.header div div.navigation div ul li {

    float: left;
    padding: 0 30px;
}

.header div div.navigation div ul li a {
    color: #08b6eb;
    text-decoration: none;
    text-shadow: 1px 1px 0 #007fba;
}

.header div div.navigation div ul li.current a,
.header div div.navigation div ul li a:hover {
    color: #0063c1;
    text-shadow: 1px 1px 0 #2b038f;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 50px;
}

.feedback-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black

}

.feedback-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback-form textarea {
    width: 500px;
    margin-bottom: 10px;
    height: 100px;
    font-size: 30px;
    
}

.feedback-form button {
    padding: 10px 20px;
    background-color: #1a0376;
    color: #00c8ff;
    border: 2px #00c8ff;
    cursor: pointer;
    font-size: 30px

}

.feedbacks {
    margin-top: 50px;
    justify-content: center;
}

.feedbacks {
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 10px;
}

.feedbacks p {
    margin: 0;
    font-size: 30px;
}

.feedbacks button {
    background-color: #3bf6c4;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
footer {
	background: rgb(239, 255, 255);
	background: radial-gradient(circle, rgba(239, 255, 255, 1) 0%, rgba(70, 82, 252, 1) 100%);
	padding-top: 50px;

}
.container{
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
}
.footer{
	width: 33%;
	margin: 30px;
}
.topic{
	font-size: 40px;
	margin-bottom: 15px;
	text-align: center;
	vertical-align: middle;
}
.footer-content{
	width: 33%;
}
.footer-content h3 {
	text-align: center;
	font-size: 40px;
}
.footer-content p {
	text-align: center;
	margin: auto;
	padding: 7px;
	font-size: 20px;
}
.footer-content ul {
	text-align: center;
	text-decoration: none;
}
.list{
	padding: 0;
}
.list li {
	width: auto;
	font-size: 20px;
	text-align: center;
	list-style-type: none;
	padding: 10px;
	position: relative;
}
.list li::before{
	content:'' ;
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 100%;
	width: 0;
	height: 2px;
	background: #08b6eb;
	transition-duration: .4s;
}
.list li:hover::before{
	width: 70px;
}
a{
	text-decoration: none;
}
a:hover{
	color: #3dc1ff;
}


.bottom-bar{
	margin: 0;
	font-size: 15px;
	padding: 10px;
	display: flex;
}